/*  */

.wrapper1545 {
    max-width: 1545px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.primary-button a,
.primary-button button {
    background-color: #008bd9 !important;
    padding: 0;
    min-width: 190px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--secondary--color);
    cursor: pointer;
    border: none;
    border-radius: 100px;
}

.primary-button a:hover,
.primary-button button:hover {
    background-color: #0286d1;
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;
}

.secondary-button a,
.secondary-button button {
    background-color: #00709c;
    padding: 0;
    min-width: 140px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--secondary--color);
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid #fff;
    margin-top: 20px;
    margin-left: 15px;
}

.secondary-button a:hover,
.secondary-button button:hover {
    background-color: #ffae42;
    color: #fff;
    transition: ease-in-out 0.6s;
    border: 1px solid var(--secondary--color);
}

.elementary-button a,
.elementary-button button {
    background-color: transparent;
    padding: 0;
    min-width: 190px;
    height: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    width: 100%;
    text-decoration: none;
    color: #0286d1;
    cursor: pointer;
    border: 1px solid #0286d1;
    border-radius: 100px;
}

.elementary-button a:hover,
.elementary-button button:hover {
    background-color: #0286d1;
    color: var(--secondary--color);
    transition: ease-in-out 0.6s;
}

.primary-button a i,
.secondary-button a i,
.elementary-button a i,
.primary-button button i,
.secondary-button button i,
.elementary-button button i {
    font-size: 14px;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 70px;
    color: var(--black--color);
    margin-bottom: 10px;
}

h1.sub-heading-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--secondary--color);
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: var(--black--color);

}

h3 {
    font-size: 33px;
    font-weight: 400;
    line-height: 33px;
    color: var(--black--color);
}

h4.special {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: var(--black--color);
}

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: var(--black--color);
}

h5 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: var(--black--color);
}

h6 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--black--color);
}

.spacer {
    float: left;
    width: 100%;
    height: 100px;
}

.text-size-16,
.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-14 {
    font-size: 14px;
    line-height: 14px;
}

.font-size-12 {
    font-size: 12px;
    line-height: 12px;
}

.padding-top160 {
    padding-top: 160px;
}

.padding-bottom160 {
    padding-bottom: 160px;
}

.padding-top {
    padding-top: 140px;
}


.padding-top100 {
    padding-top: 100px;
}

.padding-bottom100 {
    padding-bottom: 100px;
}

.special-text {
    color: #0286d1;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    font-weight: 700;
}

.min-height-auto {
    min-height: auto !important;
}

.font-weight-600 {
    font-weight: 600;
}

.font-size-20 {
    font-size: 20px;
    line-height: 30px;
}

.gradient {
    background: linear-gradient(to bottom, #e0eef7 0%, #008bd966 100%);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d6f4ec+0,a770de+73,a770de+100 */
    /* background-image: linear-gradient(330deg, rgba(214, 244, 236, 30%) 0%, rgba(214, 244, 236, 30%) 40%, rgba(167, 112, 222, 30%) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.reverse-gradient {
    background-image: linear-gradient(193deg, rgba(214, 244, 236, 30%) 0%, rgba(214, 244, 236, 30%) 40%, rgba(167, 112, 222, 30%) 100%);
}


.z-index-1 {
    z-index: 1;
}

.font-weight-500 {
    font-weight: 500;
}

.background-fff {
    background-color: var(--secondary--color) !important;
}

.background-5b21af {
    background-color: var(--purple--color);
}

.pink-text {
    color: #0286d1;
}

.purple-text {
    color: #0089d5;
}

.black-text {
    color: var(--black--color);
}

.font-weight-800 {
    font-weight: 800;
}

.mw-220 {
    min-width: 220px;
}

.margin-top-negtv {
    margin-top: -156px;
}
.bk{
    background: #0286d1;
}
.feature-box i{
    font-size: 50px;
    padding-bottom: 20px;
    color: #0084cd;
}
.text-white {
    color: #e7e7e7 !important;
}
.sign-btn a {
    color: #000 !important;
}
.sign-btn a:hover {
    color: #fff !important;
}